/********************************************************
タグのスタイル
********************************************************/
*{
  margin: 0; padding: 0; /*全要素のマージン・パディングをリセット*/
	color: #000000; /*文字色*/
}
body{
  width: 320px;
  background: #E8E6AE; /*色保留*/
  margin: 0 auto;	/*内容全体をセンタリング*/
  font-size: 17px;
  font-family: ; /*字体保留*/
}
h1{
  font-size: 160%;
  color
}
h2{
  font-size: 110%;
  margin:20 0;
}
li{
  list-style:none;
  padding: 20 0;
  margin-bottom: 10;
  background: #EE4433; /*色保留*/
}
.boder{
  border-bottom: 10px double;
}
/********************************************************
idの設定
********************************************************/
#TransactionTotal{
  width: 100%;
  height: 70px;
  background: #DDD; /*色保留*/
}

/********************************************************
クラスの設定
********************************************************/
.right{
  text-align: right;
}
.small{
  font-size: 90%;
}
